<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:with="devMode=${!@environment.acceptsProfiles('acc', 'prod')}">
<head>
    <title>Spring Boot Angular</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link th:remove="${devMode ? 'none' : 'all'}" href="../css/main.css" rel="stylesheet">
    <link th:remove="${devMode ? 'all' : 'none'}" th:href="@{/main.min.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app" role="application">

<main class="container" role="main">
    <header class="page-header bg-header navbar" ng-include="'tpl/navbar.tpl.html'"></header>
    <div class="page-content">
        <div ui-view></div>
    </div>
    <footer>
        <div ng-include="'tpl/footer.tpl.html'"></div>
    </footer>
</main>

<!--/* org.webjars:webjars-locator allows shorter paths */-->

<script th:src="@{/webjars/jquery/dist/jquery.min.js}"
        src="//cdn.jsdelivr.net/webjars/org.webjars.bower/jquery/2.2.0/dist/jquery.js"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/bootstrap.min.js}"
        src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/bootstrap/3.3.6/dist/js/bootstrap.js"
        type="text/javascript"></script>
<script th:src="@{/webjars/angular/angular.min.js}"
        src="//cdn.jsdelivr.net/webjars/org.webjars.bower/angular/1.5.0/angular.js"
        type="text/javascript"></script>
<script th:src="@{/webjars/angular-ui-router/angular-ui-router.min.js}"
        src="//cdn.jsdelivr.net/webjars/org.webjars.bower/angular-ui-router/0.2.18/release/angular-ui-router.js"
        type="text/javascript"></script>

<th:block th:remove="${devMode ? 'none' : 'all'}">
    <!-- Modules -->
    <script src="js/module.js" th:src="@{/app/js/module.js}" type="text/javascript"></script>

    <!-- Configuration -->
    <script src="js/configuration/routes.js" th:src="@{/app/js/configuration/routes.js}" type="text/javascript"></script>

    <!-- Controllers -->
    <script src="js/controllers/home.ctrl.js" th:src="@{/app/js/controllers/home.ctrl.js}" type="text/javascript"></script>
    <script src="js/controllers/about.ctrl.js" th:src="@{/app/js/controllers/about.ctrl.js}" type="text/javascript"></script>
    <script src="js/controllers/todo.ctrl.js" th:src="@{/app/js/controllers/todo.ctrl.js}" type="text/javascript"></script>

    <!-- Services -->
    <script src="js/services/todo.svc.js" th:src="@{/app/js/services/todo.svc.js}" type="text/javascript"></script>

    <!-- Directives -->
    <script src="js/directives/page.dir.js" th:src="@{/app/js/directives/page.dir.js}" type="text/javascript"></script>
</th:block>

<script th:remove="${devMode ? 'all' : 'none'}" th:src="@{/app.min.js}" type="text/javascript"></script>

</body>
</html>